<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="height:1500px">

<div class="container-fluid mt-3">
  <h3>Sticky Navbar</h3>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">About</a>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume">Resume</a>
        </li>
      </ul> 
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
</body>
</html>


